/* Product List */
html,
body {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.infor{
  width: 350px;
  height: 350px;
  padding-top: 60px;
}
body {
  background: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: black;
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: center;
  height: 80%;
}
.swiper {
  max-width: 90%;
  height: auto;
  /* border: 1px solid black; */
  margin: auto;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.swiper-slide img {
  display: block;
  width: 400px;
  height: 400px;

}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  width: 100px;
  position: fixed;
  left: 48%;
  bottom:16%;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: black;
 /*  border: 1px solid black; */
  float: right;
}

.swiper-pagination-bullet-active {
  width: 50px;
  height: 12px;
  left: 904px;
  top: 661px;
  background: #000000;
  border-radius: 20px;
  transition :width 1s, height 2s;
}
.code{
  font-size: 12px;
  color: #979797;
}
.type{
  font-weight: 400;
  font-size: 15px;
}
.tag-name{
  text-transform: uppercase;;
}
.tag-name, .name{
  font-weight: 800;
  font-size: 2.1rem;
  margin:  5px;
}
.price{
  font-size: 2rem;
  font-weight: 700;
}
.card-btn{  
  position: fixed;
  z-index:1;
  bottom: 24%;
  left: 17%;
  width: 130px;
  height: 40px;   
  color: #FFFFFF;
  background: #000000;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}


/*   End of Product List */
@media max {
}


.mainContent{
display: flex;
flex-direction: row;
}
.main{
/* border: 1px solid black; */
height: 100vh;
margin: auto;
max-width: 80%;
}
.social-media{
display: flex;
justify-content: space-between;
flex-direction: column;
max-height: 100%;
border-right: 2px solid #958686;;
align-items: center;
width: 7%;

}
.line{
margin-top: 20px;
}
.line button{
  border: none;
  background: #FFFFFF;
}
.line button:hover{
  cursor: pointer;
}
.media{
display: flex;
flex-direction: column;
justify-content: space-evenly;
height: 25%;
padding: 20px;
}
 /* <---------------------------- Navigation --------------------------> */
header{
/*  border: 1px solid black; */
margin: auto;
padding-top: 15px;
max-width: 90%;
display: flex;
justify-content: space-between;
align-items: center;

}
.navigation{
display: flex;
justify-content: space-evenly;
width: 70%;
}
.navigation nav{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.logo{
display: flex;
flex-direction: row ;
width: 200px;
align-items: center;
}
.logo img {
width: 70px;
height: 70px;
}
.logo .shop-name{
font-weight: 700;

}
.primary-navigation{
width: 85%;
display: flex;
justify-content: space-evenly;
align-items: center;
list-style: none; 
} 
.primary-navigation li a {
text-decoration: none;
color: black;
font-weight: 500;
}
.primary-navigation .ghost-nav {
  border-bottom: 2px solid #000000;
}
.mobile-close-btn{
  display: none;
}
/* <--------------------------- End of Navigation -------------------> */

/* ----------------------------- Shopping Cart ------------------------- */
#shoppingCart button{
  border: none;
}
#shoppingCart button:hover{
  cursor: pointer;
}
.shopping-bag::after{
  content: attr(data-count);
  width: 20px;
  position: absolute;
  background-color: #F25F0C;
  height: 20px;
  margin-top: -55px;
  margin-left: 31px;
  border-radius: 20px;
  display: grid;
  font-size: 14px;
  color: #FFFFFF;
  padding: 2px;
  font-family:'Poppins',sans-serif;
  font-weight: 520;
}
.shopping-bag.zero:before{
  opacity: 1;
}
/* .cartCount{
  position: relative;
  width: 20px;
  height: 37px;
  right: 19px;
  top: -25px; 
} */
#cart-items{
/* padding-right: 5px; */
position: absolute;
width: 320px;
height: 252px;
top:11%;
right: 11%;
background-color: white;
z-index: 1000;
border: 1px solid rgba(0, 0, 0, 0.05);
box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.15);
border-radius: 20px;
display: flex;
/* display: none; */
transform: translateY(-200%);
transition: transform 250ms ease-in-out;
}
#cart-items[data-visible="true"]{
  transform: translateY(0%);
}
.mini-cart-content{
height: 90%;
margin: auto;
width: 80%;;
display: flex;
flex-direction: column;
}
.cart-head{
  /* padding: 2; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cart-body{
 /*  border: 1px solid black; */
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  margin: auto;
  width: 100%;
}
.cart-body .products-mini{
  border: 1px solid black;

}
.cart-body button{
  color: #FFFFFF;
  height: 45px;
  width: 100%;
  background: #F25F0C;
  border-radius: 10px;
}
.cart-head p{
  font-size: 16px;
  font-weight: 600;
}

.mobile-open-btn{
  display: none;
}

/* ------------------------------Header Media Queries---------------------- */
@media (max-width: 35em){
  nav{
    display: none;
  }
  .navigation .logo img{
    width: 50px;
    height: 50px;
  }
  .navigation .logo{
    width: 2rem;
    padding-right: 50px;
    white-space: nowrap;
  }
  .social-media{
    display: none;
  }
  .header-btn{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    gap: 10px;
  }
  .shopping-bag svg{
    transform: scale(0.75)

  }
  .shopping-bag::after{
    position: absolute;
    transform: scale(0.75);
    top: 11%;
    right: 20%;
  }

  .primary-navigation{
    margin: 0;
    position: fixed;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: 99999;
    text-align: center;
    /* --flex-gap: 30px */;
    inset: 0 0 0 0;
    height: 91%;
    padding: clamp(2rem, 4vh, 3rem) 30px;
    transform: translateY(-100%);
    transition: transform 250ms ease-in-out;
    background-color: #FFFFFF;
    opacity: 0.9;

  }
  .primary-navigation[data-visible="true"]{
    transform: translateY(0%);
  }
  .primary-navigation a{
    font-size: 25px;
  }
  .mobile-close-btn{
    display: block;
    z-index:  88888;
    top: 1rem;
    position: fixed;
    right: 2rem;
    border:none;
    font-size: 3rem;
    cursor: pointer;
    background-color: #FFFFFF;
    transform: translateY(-300%);
    transition: transform 250ms ease-in-out;
  }
  .mobile-close-btn[data-visible="true"]{
    transform: translateY(0%);  
  }
  .mobile-open-btn{
    display: block;
    font-size: 2rem;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  .main {
    max-width: 100%;
  }
  .container{
    height: 70%;
    display: flex;
    flex-direction: column;
  }
  .swiper-slide{
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
  /*   justify-content: space-evenly; */
  }
  .infor{
    padding: 0;
    padding-top: 10px;
    height: 40%;
    flex-direction: column;
    gap:5px
  }
  .tag-name{
    font-size: 1.5em;
  }
  .name{
    font-size: 1.5em;
  }
  .code{
    font-size: 1empx;
    padding: 0;
  }
  .type{
    margin: 5px;
  }
  .price{
    margin: 7px;
  }
  .swiper-slide img{
    display: block;
    width: 200px;
    height: 200px;
  }
  .card-btn{
    top: 86%;
    left: 35%
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    position: fixed;
    bottom: 18%;
    left: 38%;
  }

}
@media (min-width: 320px) and (max-width: 600px){
  .primary-navigation{
    position: fixed;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: 999;
    text-align: center;
    --flex-gap: 30px;
    inset: 0 0 0 0;
    height: 91%;
    padding: clamp(2rem, 4vh, 3rem) 30px;
    transform: translateY(-100%);
    transition: transform 250ms ease-in-out
  }
  .primary-navigation[data-visible="true"]{
    transform: translateY(0%);
  }
  .primary-navigation a{
    font-size: 25px;
  }
  .mobile-close-btn{
    display: block;
    z-index: 88888;
    top: 1rem;
    position: fixed;
    right: 2rem;
    border:none;
    font-size: 3rem;
    cursor: pointer;
    background-color: #FFFFFF;
    transform: translateY(-300%);
    transition: transform 250ms ease-in-out;
  }
  .mobile-close-btn[data-visible="true"]{
    transform: translateY(0%);  
  }
  .mobile-open-btn{
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }
  .main {
    max-width: 100%;
  }
  .container{
    height: 70%;
    display: flex;
    flex-direction: column;
  }
  .swiper-slide{
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
  /*   justify-content: space-evenly; */
  }
  .infor{
    padding: 0;
    padding-top: 10px;
    height: 40%;
    flex-direction: column;
    gap:5px
  }
  .tag-name{
    font-size: 1.5em;
  }
  .name{
    font-size: 1.5em;
  }
  .code{
    font-size: 1empx;
    padding: 0;
  }
  .type{
    margin: 5px;
  }
  .price{
    margin: 7px;
  }
  .swiper-slide img{
    display: block;
    width: 200px;
    height: 200px;
  }
  .card-btn{
    top: 86%;
    left: 35%
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    position: fixed;
    bottom: 18%;
    left: 38%;
  }
}

@media( max-width: 600px){
  .mini-cart{
    position:  absolute;
    top:6%;
    right: 8%;
    height: 50%;
    transform: translateX(150%);
    z-index: 222;
  }
  .mini-cart[data-vivible="true"]{
    transform: translateX(0%);
  }
}

